body, html {
	height: 100%;
	display: grid;
}

body {
	background-color: #000;
}

/* Quick hack to make the terminal feel fullsize... */
#term {
	margin: auto;
}
.xterm {
	padding: 5vw
}

a {
	color: lightblue;
	text-decoration: none;
	margin: 10px;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
	color: dodgerblue;
}

*::-webkit-scrollbar {
	width: 20px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
